{{> header }}
{{> navbar }}
<div class="row">
    <div class="col-8">
        <h1>Mi imagen</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum rem doloribus corrupti assumenda repellendus laborum, id quam neque at blanditiis! Cumque natus beatae laudantium nemo magnam ut pariatur, sunt voluptate!</p>
    </div>
    <div class="col-4">
        <img src="/assets/birds.jpg" alt="the bird" class="img-thumbnail">
    </div>
</div>

{{> footer }}